<html>
  <head>
    <title>ProtoN</title>
    <script src="{{ url_for('static', filename="proton.min.js") }}"></script>
  </head>
  <body>
    <h1>ProtoN</h1>
    <i>Use the console to experiment with ProtoN.</i>
    <br />
    <h3>Echo Server</h3>
    <p>The echo server can be tested by the following commands from a *nix CLI:
      <br />
      <br />
      <code>
        export FLASK_APP=server.py<br />
        flask run
      </code>
    </p>
    <p>Proton's functionality can then be tested from the console with:
      <br />
      <br />
      <code>
        proton.get('http://localhost:5000/echo', {'Hello': 'World'}, console.log);<br />
        proton.post('http://localhost:5000/echo', {'Hello World': true}, console.log);
      </code>
    </p>
    <br />
    <h3>API</h3>
    <p>There are two functions exposed globally by the ProtoN module:</p>
    <ul>
      <li>
        <code>proton.encode(obj)</code> &mdash; takes a list or dictionary "obj"
        and returns the ProtoN encoding wrapped in a string
      </li>
      <li>
        <code>proton.decode(str)</code> &mdash; takes a ProtoN encoding wrapped
        in a string and returns the decoded object
      </li>
      <li>
        <code>proton.get(url, data, success)</code> &mdash; sends HTTP GET
        request to "url" with "data" object encoded as query string and calls
        "success" with ProtoN-decoded server response as only argument
      </li>
      <li>
        <code>proton.post(url, data, success)</code> &mdash; sends HTTP POST
        request to "url" with "data" object encoded as query string and calls
        "success" with ProtoN-decoded server response as only argument
      </li>
    </ul>
  </body>
</html>
